#projects img{
    width: 50vw;
    height: 60vh;
    border-radius: 10px;
    border-color: aqua;
    border-style: inset;
    margin-bottom: 30px;
}

#projects h5{
    color: black;
    font-weight: 900;
    background-color: rgba(204, 190, 255,0.5);
}

#projects p{
    color: black;
    font-weight: 900;
    background-color: rgba(204, 190, 255,0.7);
}