#welcome-section {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size:100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
}

#welcome-section h1 {
    
    font-size: 60px;
   
}
#welcome-section h2 {
    
    font-size: 60px;
   
}
#welcome-section h3 {
    
    
   
}

#textofwelcome{
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#me{
    border-radius: 50%;
    border: 10px;
    border-color: #F0A64A;;
    border-style: outset;
}